body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
  }
  
  .navbar img {
    height: 40px;
    margin-right: 15px;
  }
  
  .main-section {
    background: url("https://imgs.search.brave.com/gpjzVANMwjTB939eCXVwr8A8havI2Qd_tFtL9nm22_s/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE0/NDQ3MDM2ODY5ODEt/YTNhYmJjNGQ0ZmUz/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4T0h4OGNH/bGpkSFZ5Wlh4bGJu/d3dmSHd3Zkh4OE1B/PT0") center/cover no-repeat; /* Replace with your background image path */
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .left-section {
    flex: 1;
    color: white;
  }
  
  .right-section {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for the form */
    padding: 20px;
    border-radius: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
 }
  
  label {
    font-weight: bold;
  }
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50; /* Green background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .left-text{
    position: relative;
    top: 70%;
  }

  .footer{
 
    height: 18em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.heading{
    height: 22px;
    font-size: 24px;
    font-weight: bolder;
}
.Destinations{
    color: #2156f3;
}

.country-name{
    justify-content: center;
    background-color: blue;
    height: 125px;
    width: 101px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}   

.m{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWThVHw_a2W500bTx1BTJAV9zEwah-53m0tbOZb9J65oYu5IYI9gYsTCPGH1druwjFdXw&usqp=CAU');

}

.m p{
    color: white;
    height: 11px;
}


.footer-img{
    display: flex;
    justify-content: space-around;
    height: 99px;
    width: 34em;
    position: absolute;
    top: 19%;
    right: 32%;
}

.line{
    height: 3px;
    background-image: linear-gradient(to right, #3b45c5 , #efefef);
    width: 4%;
    position: relative;
    top: 63px;
    right: 162px;
}

.footer a{
    position: absolute;
    top: 48%;
    right: 49%;
}